@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Roboto+Mono:300,400,500,700|Roboto:300,400,500,700,900');
 #precarga{
 z-index: 1001;
 position: absolute;
 width: 100px;
 height: 100px;
 top: 50%;
 margin-top: -50px;
 left: 50%;
 margin-left: -50px;
 text-align: center;
 color: white;
}

#precargadiv{
z-index: 100000000;
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background: rgba(0,0,0,.8);
}
/* scTheme */
			
.headUser {display:block; width:100%; margin: 0 auto; padding:16px;}
.headUser h2 {display:inline-block; float:left; font-family: 'Roboto', sans-serif; font-weight:700; font-size:2em; line-height:1em;}
.headUser .salir {display:inline-block; float:right;}
.headUser .salir h2 a { background:#6dbd45; color:#FFF; padding:16px;}
			
.cpContent {display:block; width:100%; font-family: 'Open Sans', sans-serif; margin-top:60px;} 
.cpContent h2 {font-size:2em; line-height:1em; font-weight:700;}
.boxevento { display: inline-block; width:300px; float:left; margin:10px; cursor:pointer;background:#DDDDDD;}
.boxevento .title {display:block; font-weight:400;}
.boxevento .fecha {display:block;}
.boxevento .cupo, .boxevento .registrado {display:block;padding:16px; background:#A32F31; color:#FFF;}

body {
  background:#F3F3F3;
  font-size: 1em;
  line-height: 1em;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'roboto', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #FFF;
}

h3 {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFF;
}

h3 a { color: #FFF; }

a { color: #FFF; }

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  font-family: 'roboto', sans-serif;
}

#container {
  margin: 0 auto;
  max-width: 890px;
}

p { text-align: center; }
 .toggle, [id^=drop] {
 display: none;
}

/* Menú responsivo
--------------------------------------------- */
nav {
  margin: 0;
  padding: 0;
  background-color: #092432;
}
#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}
nav:after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
nav ul li {
  margin: 0px; padding: 20px 0px 20px 0px;
  display: inline-block;
  float: left;
  background-color: #092432;
}
nav a {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
}
nav ul li ul li:hover { background: #6dbd45; }
nav a:hover { background-color: none; }
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}
nav ul li:hover > ul { display: inherit; }
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}
li > a:after { content: ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
https://www.cssscript.com/demo/pure-css-mobile-compatible-responsive-dropdown-menu/#
--------------------------------------------- */
@media all and (max-width : 768px) {
#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}
nav { margin: 0; }

.toggle + a,
 .menu { display: none; }
.toggle {
  display: block;
  background-color: #092432;
  padding: 20px;
  color: #FFF;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  border: none;
}
.toggle:hover { background-color: #6dbd45; }
[id^=drop]:checked + ul { display: block; }
nav ul li {
  display: block;
  width: 100%;
}
nav ul li:hover {
  background-color: #6dbd45;
}
nav ul ul .toggle,
nav ul ul a { padding: 0 40px; }
nav ul ul ul a { padding: 0 80px; }
nav a:hover,
nav ul ul ul a { background-color:none ; }
nav ul li ul li .toggle,
nav ul ul a { background-color: none; }
nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}
nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }
nav ul ul li {
  display: block;
  width: 100%;
}
nav ul ul ul li { position: static;
}
}

@media all and (max-width : 330px) {
nav ul li {
  display: block;
  width: 94%;
}
}
